body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  padding: 0;
}

#container {
  width: 400px;
  height: 630px;
  background-color: #333333;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  

}

#display {
  width: 400px;
  height: 120px;
  background-color: rgb(97, 95, 95);
  border-radius: 30px;
  color: white;
  padding-top: 55px;
  padding-left: 295px;
  box-sizing: border-box; 
  font-size: 30px;
}

#buttons  {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0;
}

#buttons .clear, .multi, .plus, .sub, .equals {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 100%;
}

.clear, .multi, .plus, .sub, .equals, button {
  flex-grow: 1;
  color: black;
}


.multi,
.plus,
.sub,
.equals {
  display: flex;
}



button {
  width: 50px;
  height: 50px;
  margin: 5px;
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
}

